
.navBrand
.navBrandLink
  padding: 20px 
  background: url(../../assets/images/logo.png) 50% 50% no-repeat
  background-size: 30px
.active
  color: #fff !important
.navbarBlock
  width: 100%
.navbar
  .container
    max-width: 1440px
    display: flex
.navbar-nav