
h1
  font-weight: 24px
  font-weight: 700
h2
  font-weight: 22px
  font-weight: 800
  letter-spacing: 4px
p, a
  font-weight: 500
  font-size: 18px
  letter-spacing: 1px
li
  list-style-type: none
.wrapper
  width: 100%
  height: 100vh
  background-color: #FFD300
  box-shadow: 0px 45px 43px 20px rgba(16, 22, 47, 0.34) inset
  text-shadow: 0px 0px 1px #10162f
  color: #10162f
  display: flex
  flex-direction: column
section
  padding: 20px 0
  margin: auto
  overflow-y: auto
  overflow-x: hidden
  max-width: 1440px
  &::-webkit-scrollbar
    border-radius: 10px
    width: 7px
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: #10162F
.flex-center
  display: flex
  justify-content: center
  align-items: center

.about a
  color: #3f0b0e
  font-weight: 700
  transition-duration: 0.1s
  &:hover
    color: #10162f
a
  cursor: pointer
  text-decoration: none
@media screen and (max-width : 550px )
  h1
    font-weight: 18px
    font-weight: 700
  h2
    font-weight: 16px
    font-weight: 800
  p
    font-weight: 500
    font-size: 12px
  .about-skills__item
    img
      width: 30px !important
